<div class="row steps-data">
  <div class="columns sixteen">
    <h6><%= t(:delivery_date) %></h6>
    <div class="delivery-date">
      <%= (order.delivery_date != nil) ? order.delivery_date : 'Unknown' %>
    </div>
  </div>
</div>