<br />
<div id="delivery_date">
  <legend><%= t('.spree_delivery_time.title') %></legend>
  <div class="field">
    <%= form.label :delivery_date %><br />
    <%= form.date_select :delivery_date %>
  </div>
</div>
